node_modules
uploads
*.log
.env
node_modules
uploads
public/uploads
.wwebjs_auth
bridge/dist/
tmp_bridge_*
public/bridge/

# secrets / env backups
.env*
*.env
*.bak

# secrets / env backups
.env*
*.env
*.bak

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
